<div class="modify-buttons">
    <button> <%= link_to "EDIT",edit_bartender_path(@bartender) %></button>
    <div class= "btn btn-primary btn-block btn-large"><%= button_to "Delete",  method: "delete " %></div>
</div>