<div class="modify-buttons">
    <button> <%= link_to "EDIT",edit_bartender_path(@bartender) %></button>
    <div class="delete-button"><%= button_to "Delete", resource, method: "delete", data: {confirm: "Are you sure???"}  %></div>
</div>