<%= stylesheet_link_tag 'home' %>

<%= render 'form' %>
<div>

<div class="title">
<h2> Welcome to</h2>
<h1>Shake-N</h1>
<h3>A Cocktail Ap </h3>
<img src="https://thethreetomatoes.com/wp-content/uploads/2017/04/cocktails.png" class="image">
</div>

