<h1>Welcome Bartender</h1>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", new_bartender_path, method: :get%>


<div>
<img src="https://thethreetomatoes.com/wp-content/uploads/2017/04/cocktails.png" class="img-fluid" >
<div class="fixed-bottom">
<div class="form-group">
</div>
                