<h1> Choose a Type of Cocktail </h1>

<img src="https://images-na.ssl-images-amazon.com/images/I/71L93rOZEdL._AC_SL1500_.jpg" class="rounded float-left">
<img src="https://cdn.diffords.com/contrib/stock-images/2019/07/5d35db08cfe6f.jpg" class="rounded float-right" >
<br>
<img src="..." class="rounded float-left" alt="...">
<img src="..." class="rounded float-right" alt="...">