<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <a href="/users/<%=current_user.id%>" class="btn btn-outline-primary">My Profile</a>
  <a href="/recipes/new" class="btn btn-outline-primary">Create A New Recipe</a>
  <a href="/logout" class="btn btn-outline-primary">Logout</a>

<blockquote class="blockquote text-center">  
<h1>Choose your next great meal!</h1>
<%@recipes.each do |n| %>
<div class="col d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> <a href="/recipes/<%=n.id%>"><%=n.recipe_name%></h5>
          <div class="fixed-bottom">
            <div class="form-group">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</blockquote>
<%end%>