<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<a> href="/users/<%=current_user.id%>" class="btn btn-outline-primary">My Profile</a>
<a href="/recipes" class="btn btn-outline-primary">All Recipes</a>
<a href="/logout" class="btn btn-outline-primary">Logout</a>
<div class="form-container">
    <form action="/recipes" method="post" enctype="multipart/form-data">
    <div class="row">
		<div class="col-md-5 mx-auto">
		    <div id="first">
				<div class="myform form ">
					<div class="logo mb-3">
						<div class="col-md-12 text-center">
						</div>
					    </div>
			       
                        <div class="logo mb-3">
                            <div class="col-md-12 text-center">
                            <h1 >Create A Recipe</h1>
                        </div>
                        <div class="form-gorup">
                            <label for="recipe_name">Recipe Name</label>
                             <input type="string" name="recipe[recipe_name]" class="form-control" required>
                        </div>
                        <div class="form-gorup">
                            <label for="cuisine">Cuisine</label>
                             <input type="string" name="recipe[cuisine]" class="form-control" required>
                        </div>
                        
                        <div class="form-gorup">
                            <label for="difficulty">Difficulty 1-10</label>
                             <input type="string" name="recipe[difficulty]" class="form-control" required>
                        </div>
                        <div class="form-gorup">
                            <label for="Directions">Cooking Instructions</label>
                             <input type="text" name="recipe[directions]" class="form-control" required>
                        </div>                  
                        
                        <blockquote class="blockquote text-center">  
                        <div>
                            <label for="value">Ingredients</label>                     
                        </div>
                       
                        <%8.times do |num|%> 
                            <div class="ingredident_form_<%=num + 1%>">
                                <label for="ingredient">Ingredient</label>
                                <input type="text" name="ingredients[][ingredient]" <%="required" if num >= 0 && num < 3 %>>
                                <label for="value">Ingredient Amount</label>
                                <input type="text" name="ingredients[][value]"  <%="required" if num >= 0 && num < 3 %>>
                            </div>
                        <br>
                        <%end%>
                        <br>
                        </blockquote>
                             
                        <div class="col-md-12 text-center mb-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Create Recipe</button>
                        </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
       
       